h1 {
  color: #e06d35;
  font-family: Guardian Egyptian;
  margin-left: 65px;
}

.card-title {
  font-size: 14px;
}

.price {
  font-weight: 700;
}

.btn {
  background-color: white;
  color: black;
  border-radius: 25px;
}

.btn-primary {
  border: solid 2px black;
}

.btn-primary:hover {
  color: white;
}

img {
  max-width: 100%;
}

#etsy-cards {
  justify-content: space-around;
}
